
aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
Scrapy
psycopg2-binary
SQLAlchemy==1.4.29
phonenumbers==8.12.40
requests==2.27.0